html {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.mainPage {
    width: 800px;
    border: 1px solid black;
    background-color: white;
    margin: 5vh auto auto auto;
    box-shadow: 10px 10px 8px #bdc3c7; /*urgh don't love this, but like the concept. Want to talk to ED about the different colours from different directions */
}

.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 45%;
    float: left;


}

.dp {
    border-radius: 50%;
}